header nav {
    background-color: #212529;
    transition: 0.4s;
    
}

.navbar-brand > a {
    font-size: 26px;
    text-decoration: none;
}
header .nav_active {
    background-color: #dc3545;
    border-radius: 8px;
}